services:
  - type: web
    name: tienda-backend
    runtime: java
    plan: free
    buildCommand: ./mvnw clean package -DskipTests
    startCommand: java -jar target/*.jar
    envVars:
      - key: JAVA_VERSION
        value: 17
      - key: JAVA_TOOL_OPTIONS
        value: -Xms256m -Xmx512m -XX:+UseSerialGC